* {
    margin: 0;
    padding: 0;
}
html {
    font-size:16px;
    line-height: 1.5;
}
/* 声明清除浮动的样式 */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1; 
    /* IE6、IE7专门清除浮动样式 */
}
@media screen and (min-width: 64em) {
    html {
        font-size: 20px
    }
    .keep-one {
        width: 40%;
    }
}
@media screen and (min-width: 42em) and (max-width: 64em) {
    html {
        font-size: 16px
    }
    .thing {
        padding: 1.5rem;
    }
    .keep-one {
        width: 55%;
    }
}
@media screen and (max-width: 42em) {
    html {
        font-size: 12px
    }
    .thing {
        padding: 1rem;
        display: block!important;
    }
    .keep-one {
        width: 70%;
    }
}
a {
    color: #1e6bb8;
}
.main-content {
    word-wrap: break-word
}
.page-top {
    color: #fff;
    text-align: center;
    padding: 3rem 0 1.5rem 0;
    background-color: #159957;
    background-image: linear-gradient(120deg, #155799, #159957);
}
.page-top h1 {
    font-size: 3.5rem;
    font-family: 华文行楷;
}
.page-top p {
    margin-top: 1rem;
    font-size: 1.3rem;
    opacity: 0.7;
}
.page-top p a {
    color: white;
    font-size: 1.1rem;
}
/* 网站目录 */
.catalogue {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding-top: 0.5rem;
    /* letter-spacing: 2rem; */
}
.catalogue span a {
    text-decoration: none;
    background-color: rgb(243, 202, 148);
    border-radius: 1.5rem;
}
.catalogue p a {
    text-decoration: none;
    background-color: rgb(243, 202, 148);
    border-radius: 1.5rem;
}
/* thing */
.thing {
    margin-left: auto;
    margin-right: auto;
    max-width: 54rem;
    padding: 2rem;
    padding-top: 1rem;
    font-size: 1rem;
    display: flex;
}
.thing>div {
    flex: 1; 
    /* background-color: #d67850; */
    padding-left: 2rem;
    padding-right: 2rem;
}
.thing>div p a{
    /* display: inline-block; */
    float: left;
    width: 50%;
    text-align: center;
    background-color: rgb(241, 225, 204);
    background-image: linear-gradient(to right,#a6c1ee, #fbc2eb);
    border-radius: 1rem;
    margin: 0.2rem 0;
    text-decoration: none;
    color: rgb(63, 37, 8);
}
.thing>div>.thing-title {
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
}
/* .thing>div:nth-child(2) {
    background-color: #d8ff84;
} */
/* footer */
.footer {
    margin-top: 3.5rem;
    font-size: 0.8rem;
    color: #819198;
    text-align: center;
    line-height: 2;
}
.footer div p {
    font-size: 0.9rem;
    font-weight: bold;
}
/* 深色模式 */
/* 深色模式下，图层必须要覆盖全局所有，尽量大即可 */
.darkmode-layer,
.darkmode-toggle {
z-index: 10000;
}
/* 拖动深色模式小部件后不移动深色背景 */
.darkmode-layer--expanded {
top: 0!important;
left: 0!important;
}

/* .little-title{
    display: inline-block;
    text-align: center;
    background-color: rgb(241, 225, 204);
    background-image: linear-gradient(to right,#a6c1ee, #fbc2eb);
    border-radius: 1rem;
    margin: 0.2rem 0;
    text-decoration: none;
    color: rgb(63, 37, 8);
} */

.keep-one {
    margin: auto;
    background-image: linear-gradient(to right,#a6c1ee, #fbc2eb);
    border-radius: 0.5rem;
    padding: 0.3rem 1.2rem;
}
.keep-one .little-title {
    padding-left: 0.5rem;
    font-size: medium;
}

.keep-one a {
    text-decoration-line: none;
}
details {
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}


